/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
  margin: 0;
  padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea { /* for ie */
  /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
  font: 12px/1 Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */

}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
fieldset, img { border: none; object-fit: cover;} /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
  font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 重置 hr */
hr {
  border: none;
  height: 1px;
}

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html { overflow-y: scroll; }

*{
  font-size: 3.7vw;
  line-height: 1.5;
  /*font-family: "Microsoft YaHei" ;*/
}
html,
body{
  height: 100%;
  background: #F3F5F7;
  color: #333;
}
.mui-content{
  /*padding-bottom: 110px;*/
  height: 100%;
  background: #F3F5F7;
  position: relative;
}
.mui-bar-nav~.mui-content{
  padding-top:44px;
}
.copyRight{
  position: absolute;
  width: 100%;
  bottom: 60px;
  /*position: absolute;*/
  /*width: 100%;*/
  margin-top:10px;
  /*bottom: 10px;*/
}
.clear:after{
  display: block;
  content: '';
  clear: both;
}
p{
  font-size: 3.46vw;
  line-height: 1.5;
}
.mui-card{
  margin:0rem;
  padding-left: 11px;
  padding-right: 11px;
  margin-bottom: 15px;
  margin-top: 15px;
  box-shadow: none;
}
/*// 底部栏颜色*/
.mui-bar-tab .mui-tab-item.mui-active{
  color: #333;
}
  /*底部栏字体*/
.iconfont{
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  top: 3px;
  width: 24px;
  height: 24px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 24px;
  position: relative;
  z-index: 20;
  font-family: Muiicons;
  font-weight: 400;
  font-style: normal;
  line-height: 1;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  display: block;
  margin: 0 auto;
}
/*顶部栏返回键*/
.mui-bar .mui-btn-link{
  color: #007aff;
}
/*顶部栏标题*/
.mui-bar.mui-bar-nav .mui-title{
  font-size: 3.7vw;
}

/*周婷珠下划线*/
.mui-input-group .mui-input-row:after{
  left:0;
}

/*顶部栏右上角的字体大小*/
.mui-bar-nav a > button.mui-btn{
  font-size: 3.4vw;
}
